name: docker-build-image

on:
  workflow_call:
    inputs:
      registry_push:
        required: false
        default: false
        description: "Whether to push image to registries"
        type: boolean
    secrets:
      DOCKERHUB_USER:
      DOCKERHUB_TOKEN:

jobs:
  docker-build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: docker-build-push
        uses: quotidian-ennui/actions-olio/docker-image-builder@main
        with:
          registry_push: ${{ inputs.registry_push }}
          dockerfile: Dockerfile
          image_platforms: linux/amd64,linux/arm64/v8
          ghcr_image_name: ghcr.io/${{ github.repository }}
          ghcr_user: ${{ github.repository_owner }}
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
          cache_from: type=gha
          cache_to: type=gha,mode=max
          dockerhub_user: ${{ secrets.DOCKERHUB_USER }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          dockerhub_image_name: lewinc/nginx-wpad
